<aside id="cartSlideoutAside">
	<form
		action="{{ routes.cart_url }}"
		method="post"
		novalidate
		class="cart-drawer-form"
	>
		<div
			id="cartSlideoutWrapper"
			class="envy-shopping-right slideout-panel-hidden cart-drawer-right"
			role="dialog"
			aria-labelledby="cart_dialog_label"
			aria-describedby="cart_dialog_status"
			aria-modal="true"
		>
			<div class="cart-drawer__top">
				<div class="cart-drawer__empty-div"></div>
				<h2 class="type-subheading type-subheading--1 wow fadeIn" id="cart_dialog_label">
					<span class="cart-drawer--title">{{ 'cart.general.title' | t }}</span>
				</h2>

				<div class="cart-close-icon-wrapper">
					<button
						class="slide-menu cart-close-icon cart-menu-close alt-focus"
						aria-label="{{ 'cart.general.close_cart' | t }}"
						type="button"
					>
						<i data-feather="x"></i>
					</button>
				</div>
			</div>

			<div class="cart-error-box"></div>

			<div aria-live="polite" class="cart-empty-box">
				{{ 'cart.general.empty' | t }}
			</div>

			<script type="application/template" id="cart-item-template">
				<li>
					<article class="cart-item">
						<div class="cart-item-image--wrapper">
							<a class="cart-item-link" href="{{ product.url }}" tabindex="-1">
								<img
									class="cart-item-image"
									src="/product/image.jpg"
									alt=""
								/>
							</a>
						</div>
						<div class="cart-item-details--wrapper">
							<h3 class="cart-item__title">
								<a href="{{ product.url }}" class="cart-item-link cart-item-details--product-title-wrapper">
									<span class="cart-item-product-title"></span>
									<span class="cart-item-variant-title hide"></span>
									<span class="cart-item-selling-plan hide"></span>
								</a>
							</h3>

							<div class="cart-item-price-wrapper">
								<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
								<span class="cart-item-price"></span>
								<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
								<span class="cart-item-price-original"></span>
								<span class="cart-item-price-per-unit"></span>
							</div>

							<ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}"></ul>

							<div class="cart-item--quantity-remove-wrapper">
								<div class="cart-item--quantity-wrapper">
									<button
										type="button"
										class="alt-focus cart-item-quantity-button cart-item-decrease"
										data-amount="-1"
										aria-label="Reduce item quantity by one"
									>-</button>
									<input
										type="text"
										class="cart-item-quantity"
										min="1"
										pattern="[0-9]*"
										aria-label="Quantity"
									>
									<button
										type="button"
										class="alt-focus cart-item-quantity-button cart-item-increase"
										data-amount="1"
										aria-label="Increase item quantity by one"
									>+</button>
								</div>

								<div class="cart-item-remove-button-container">
									<button type="button" id="cart-item-remove-button" class="alt-focus" aria-label="Remove product">{{ 'cart.general.remove' | t }}</button>
								</div>
							</div>

              <div class="errors hide"></div>
						</div>
					</article>
				</li>
			</script>
			<script type="application/json" id="initial-cart">
				{{ cart | json }}
			</script>

			<ul class="cart-items"></ul>

			<div class="ajax-cart--bottom-wrapper">
				{% if settings.allow_note %}
				<div class="ajax-cart--checkout-add-note">
						<p>{{ 'cart.general.note' | t }}&hellip;</p>
						<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
				</div>
				{% endif %}

				{% if settings.enable_terms_conditions %}
				<div class="ajax-cart--terms-conditions">
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" class="wetheme-custom-checkbox" id="agree" data-terms-agree="{{ 'cart.general.terms_agree' | t | escape }}" />

								{% if settings.terms_conditions_link == blank %}
									{{ 'cart.general.terms_text' | t }}
								{% else %}
									{{ 'cart.general.terms_text_html' | t | replace: '#', settings.terms_conditions_link }}
								{% endif %}
							</label>
						</div>
					</div>
				</div>
				{% endif %}

				<div class="ajax-cart--cart-discount">
					<div class="cart--order-discount-wrapper custom-font ajax-cart-discount-wrapper"></div>
				</div>

				<span class="cart-price-text type-subheading">{{ 'cart.general.subtotal' | t }}</span>

				<div class="ajax-cart--cart-original-price">
					<span class="cart-item-original-total-price"><span class="money">{{ cart.original_total_price | money }}</span></span>
				</div>

				<div class="ajax-cart--total-price">
					<h2
						id="cart_dialog_status"
						role="status"
						class="js-cart-drawer-status sr-only"
					></h2>

					<h5 id="cart_drawer_subtotal">
						<span class="cart-total-price" id="cart-price">
							<span class="money">{{ cart.total_price | money }}</span>
						</span>
					</h5>
				</div>

				{%- capture taxes_shipping_checkout -%}
					{%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
						{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
					{%- elsif shop.taxes_included -%}
						{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
					{%- elsif shop.shipping_policy.body != blank -%}
						{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
					{%- else -%}
						{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
					{%- endif -%}
				{%- endcapture -%}

				<div class="row">
					<div class="col-md-12">
						<p class="cart--shipping-message">{{ taxes_shipping_checkout }}</p>
					</div>
				</div>

				<div class="slide-checkout-buttons">
					<button type="submit" name="checkout" class="btn cart-button-checkout">
						<span class="cart-button-checkout-text">{{ 'cart.general.checkout' | t }}</span>
						<div class="cart-button-checkout-spinner lds-dual-ring hide"></div>
					</button>
					{% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
						<div class="additional-checkout-buttons">
							{{ content_for_additional_checkout_buttons }}
						</div>
					{% endif %}
					{% if settings.enable_continue_shopping %}
						<a href="#" class="btn btn-default cart-menu-close secondary-button">{{ 'layout.cart.continue_shopping' | t }}</a><br />
					{% endif %}
				</div>

			</div>
		</div>
	</form>
</aside>
