<div class="row" id="product-box" data-wetheme-section-type="template--product">

{% form 'product', product, id: "add-to-cart-form" %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  <input type="hidden" id="cart-link" value="{{ routes.cart_url }}" />

  {% assign hide_default_title = false %}
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    {% assign hide_default_title = true %}
  {% endif %}

  <div class="product-info-wrapper">

    <div class="quantity-controls__outer {% if settings.show_swatches %}swatches-wrapper{% else %}selector-wrapper{% endif %}">
      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
      <div class="quantity-controls">
          <button
            type="button"
            class="qty-minus alt-focus"
            aria-label="Reduce item quantity by one"
          >-</button>
          <input
            id="quantity"
            class="quantity-selector"
            value="1"
            min="1"
            type="text"
            name="quantity"
          >
          <button
            type="button"
            class="qty-plus alt-focus"
            aria-label="Increase item quantity by one"
          >+</button>
      </div>
    </div>

        {% if settings.show_swatches == false and block.settings.pick_an_option %}
          {% unless product.has_only_default_variant %}
            {% assign pick_an_option = true %}
          {% endunless %}
        {% endif %}

        {% if pick_an_option %}
          {%- assign current_variant = product.selected_variant -%}
        {% else %}
          {%- assign current_variant = product.selected_or_first_available_variant -%}
        {% endif %}

        {% if product.variants.size > 0  %}
        <div {% unless block.settings.show_variant_labels %}class="hide-variant-labels"{% endunless %}>
          {% if settings.show_swatches %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                {% if option.values.size > 1 %}
                  {% render 'swatch' with option.name, product: product, section: section, block: block %}
                {% endif %}
              {% endfor %}
            {% endunless %}

          {% else %}

            {% for option in product.options_with_values %}
              {% unless swatches_to_show contains option.name %}
                <div class="product-form-option{% if hide_default_title == true %} hide{% endif %}">
                  <div class="input-field product-option-select">
                    <wetheme-dropdown fit="parent">
                      <select id="SingleOptionSelector-{{ forloop.index0 }}" class="wetheme-dropdown__select"{% if option.values.size == 1 %} disabled{% endif %}>
                          {% if pick_an_option and option.values.size > 0 %}
                            <option value="" selected data-placeholder>Pick a {{ option.name }}</option>
                          {% endif %}
                          {% for value in option.values %}
                              {% if pick_an_option and option.values.size > 0 %}
                                  {% assign props = '' %}
                              {% elsif option.selected_value == value %}
                                  {% assign props = 'selected' %}
                              {% else %}
                                {% assign props = '' %}
                              {% endif %}

                              {% comment %}Hide out of stock variants{% endcomment %}
                              {% if product.options_with_values.size == 1 and block.settings.hide_out_of_stock %}
                                {% assign hide = true %}
                                {% for v in product.variants %}
                                  {% if v.option1 == value and v.available %}
                                    {% assign hide = false %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                {% assign hide = false %}
                              {% endif %}

                              {% unless hide %}
                                <option {{ props }} value="{{ value | escape }}">{{ value }}</option>
                              {% endunless %}
                          {% endfor %}
                      </select>
                      <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                    </wetheme-dropdown>

                    <!-- Size guide link (specific variant - dropdown) -->
                    {% if section.settings.size_guide_link != blank and section.settings.size_guide_message != blank %}
                      {% assign option_name = option.name | downcase %}
                      {% assign  size_guide_variant = section.settings.size_guide_variant | downcase %}

                      {% if option_name == size_guide_variant %}
                        <a href="{{ section.settings.size_guide_link }}" class="size-guide-link">
                          {{ section.settings.size_guide_message }}
                        </a>
                      {% endif %}

                    {% endif %}
                  </div>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}

      {% render 'product-select', section_id: section.id, variants: product.variants %}

      <!-- Size guide -->
      {% if section.settings.size_guide_link != blank and section.settings.size_guide_message != blank %}
        <div class="size-guide__wrapper">
          {% render 'size-guide' with section: section %}
          <!-- Size guide link (no specific variant) -->
          {% if section.settings.size_guide_variant == blank %}
            <div class="col-md-12">
              <a href="{{ section.settings.size_guide_link }}" class="size-guide-link">
                {{ section.settings.size_guide_message }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}


        <div class="product-page--submit-action">
          {% assign disabled = pick_an_option %}
          {% unless current_variant.available %}
            {% assign disabled = true %}
          {% endunless %}

          <button
            type="submit"
            name="add"
            id="purchase"
            class="btn {% if block.settings.show_smart_checkout and product.selling_plan_groups.size == 0 %} secondary-button{% endif %}"{% if disabled %}
            disabled{% endif %}
            data-cart-action="{{ settings.cart-action }}"
          >
            {% if pick_an_option or current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </button>

          {% if block.settings.show_smart_checkout %}
            {{ form | payment_button }}
          {% endif %}
        </div>
  </div>
{% endform %}

<script type="application/json" class="product-json">
  {{ product | json }}
</script>

</div>