{{ 'section-slideshow.min.css' | asset_url | stylesheet_tag }}

{% if section.settings.slider-width == 'full-width' %}
	<section class="container-fluid homepage-slider-container slider-section--{{ section.id }}{% if section.settings.show-slide-dots %} slider-dots--caption-padding{% endif %}" data-wetheme-section-type="image--slideshow" data-wetheme-section-id="{{ section.id }}">
{% else %}
	<section class="container slider-section--{{ section.id }}{% if section.settings.show-slide-dots %} slider-dots--caption-padding{% endif %}" data-wetheme-section-type="image--slideshow" data-wetheme-section-id="{{ section.id }}">
{% endif %}

		<div class="row">
			<div class="page-width col-md-12">

			{% if section.blocks.size > 0 %}

            {% assign has_caption = false %}

				<div class="row">
					<div class="flexslider-container col-md-12">
						<div class="flexslider flexslider-homepage{% if section.settings.show-slide-full-screen %} slideshow--full-screen{% endif %}" data-slider-id="{{ section.id }}" data-slider-slide-time="{{ section.settings.slider-slide-time }}000" data-slider-animation="{{ section.settings.slider-animation }}" data-slider-controls="{{ section.settings.show-slide-controls }}" data-slider-dots="{{ section.settings.show-slide-dots }}" data-slider-arrows="{{ section.settings.show-slide-arrows }}">
							<ul class="slides" style="width: {{ section.blocks | size | times:100 }}%;">
								{% assign number_of_slides_float = section.blocks | size | times:1.0 %}

								{% for block in section.blocks %}
									{%- assign slide_is_link = false -%}
                                    {% if block.settings.link != blank %}
                                        {%- assign slide_is_link = true -%}
                                    {% endif %}

                                    <li {{ block.shopify_attributes }} data-slide-index="{{ forloop.index0 }}" class="slider-block--{{ block.id }} {% if section.settings.overlay %} slideshow-image-overlay{% endif %}{% if block.settings.mobile_image %} mobile-image--enabled{% else %} mobile-image--disabled{% endif %}"
                                        {% comment %}Show the first slide before the slider is loaded{% endcomment %}
                                        style="display: block; float: left; width: {{ 100 | divided_by: number_of_slides_float }}%"
                                    >

                                        {% if block.settings.image == blank and block.settings.mobile_image == blank %}
                                            {% if slide_is_link %}
                                                <a
                                                    href="{{ block.settings.link }}"
                                                    class="slideshow__link"
                                                    tabindex="-1"
                                                    aria-label="{{ block.settings.link | split: '/' | last | replace: '-', ' ' | capitalize }}"
                                                >
                                            {% endif %}

                                                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'icon--placeholder' }}

                                            {% if slide_is_link %}
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {% if slide_is_link %}
                                                <a
                                                    href="{{ block.settings.link }}"
                                                    class="slideshow__link"
                                                    tabindex="-1"
                                                    aria-label="{{ block.settings.link | split: '/' | last | replace: '-', ' ' | capitalize }}"
                                                >
                                            {% endif %}

                                            {% if block.settings.mobile_image != blank and block.settings.image != blank %}
                                                {% render 'responsive-image' with block.settings.mobile_image, class: 'slideshow-mobile-image', alt: block.settings.mobile_image.alt, sizes: '100vw' %}
                                                {% render 'responsive-image' with block.settings.image, class: 'slideshow-desktop-image', props: 'data-expand="10000"', alt: block.settings.image.alt, sizes: '100vw'%}
                                            {% elsif block.settings.mobile_image == blank and block.settings.image != blank %}
                                                {% render 'responsive-image' with block.settings.image, class: 'slideshow-desktop-as-mobile-image', alt: block.settings.image.alt, sizes: '100vw' %}
                                            {% elsif block.settings.mobile_image != blank and block.settings.image == blank %}
                                                {% render 'responsive-image' with block.settings.mobile_image, class: 'slideshow-mobile-image', alt: block.settings.mobile_image.alt, sizes: '100vw' %}
                                            {% endif %}

                                            {% if slide_is_link %}
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                        {% if block.settings.title != empty or block.settings.text != empty or block.settings.button_text != empty %}

                                            {% assign has_caption = true %}

                                            <div aria-live="polite" aria-atomic="true" class="slider-caption horizontal-align--{{ block.settings.horizontal-alignment }} vertical-align--{{ block.settings.vertical-alignment }} background{% if block.settings.mobile_image != blank %} slideshow-mobile-image-content{% endif %}{% if block.settings.mobile_image == blank and section.settings.show-slide-dots %} slider-dots--padding{% endif %}">
                                                {% if block.settings.subheading != empty %}
                                                    <h3 class="type-subheading type-subheading--1 slideshow-fade-content{% if block.settings.title != blank %} typography--padding-bottom{% endif %}">{{ block.settings.subheading | escape }}</h3>
                                                {% endif %}

                                                {% if block.settings.title != empty %}
                                                    {% if slide_is_link %}
                                                        <h2 class="slideshow-fade-content"><a href="{{ block.settings.link }}">{{ block.settings.title | escape }}</a></h2>
                                                    {% else %}
                                                        <h2 class="slideshow-fade-content">{{ block.settings.title | escape }}</h2>
                                                    {% endif %}
                                                {% endif %}

                                                {% if block.settings.text != empty %}
                                                <div class="slider-caption--text slideshow-fade-content">
                                                        {% if slide_is_link %}
                                                            <a href="{{ block.settings.link }}" class="slider-caption--text__link">
                                                        {% endif %}

                                                        {{ block.settings.text }}

                                                        {% if slide_is_link %}
                                                            </a>
                                                        {% endif %}
                                                </div>
                                                {% endif %}

                                                {% if block.settings.button_text != empty %}
                                                    {% if slide_is_link %}
                                                        <a class="btn slideshow-fade-content" href="{{ block.settings.link }}">{{ block.settings.button_text  }}</a>
                                                    {% else %}
                                                        <div class="btn btn-no-link slideshow-fade-content" href="{{ block.settings.link }}">{{ block.settings.button_text  }}</div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </li>

                    <style>
                      .slider-block--{{ block.id }} .slider-caption.background {
                        background-color: {{ block.settings.caption-background }}!important;
                        color: {{ block.settings.caption-text }} !important;
                      }

                      .slider-block--{{ block.id }} .slider-caption.background a:not(.btn){
                        color: {{ block.settings.caption-text }} !important;
                      }

                      .slider-block--{{ block.id }} .slider-caption .btn {
                        background-color: {{ block.settings.button-background }} !important;
                        color: {{ block.settings.button-text }} !important;
                      }

                      .slider-block--{{ block.id }} .slider-caption .btn:focus {
                        background-color: {{ block.settings.button-text }} !important;
                        color: {{ block.settings.button-background }} !important;
                      }

                      .slider-block--{{ block.id }} .slider-caption .btn:hover {
                        background-color: {{ block.settings.button-background-hover }} !important;
                        color: {{ block.settings.button-text-hover }} !important;
                      }

                    @media only screen and (max-width: 767px){
                        .slider-block--{{ block.id }} .slider-caption:not(.slideshow-mobile-image-content).background {
                          background-color: {{ settings.bg_color }} !important;
                          color: {{ settings.font-color }} !important;
                            text-align: center;
                    }

                    .slider-block--{{ block.id }} .slider-caption:not(.slideshow-mobile-image-content).background a{
                        color: {{ settings.font-color }} !important;
                        vertical-align: bottom;
                    }

                    .slider-block--{{ block.id }} .slider-caption:not(.slideshow-mobile-image-content) a.btn {
                        background-color: {{ block.settings.button-background }} !important;
                        color: {{ block.settings.button-text }} !important;
                    }

                    .slider-block--{{ block.id }} .slider-caption:not(.slideshow-mobile-image-content) .btn:hover {
                        background-color: {{ settings.add-to-cart-background-hover-color }} !important;
                    }
                    </style>

									{% endfor %}
					      </ul>

                        {% if section.blocks.size > 1 %}

                            <ul class="flex-direction-nav slider--{{ section.id }}">

                                <li class="flex-nav-prev">
                                    <button class="flex-direction-nav__button alt-focus flex-prev" aria-label="{{ 'general.slider.previous' | t }}" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                                    </button>
                                </li>

                                <li class="flex-nav-next">
                                    <button class="flex-direction-nav__button alt-focus flex-next" aria-label="{{ 'general.slider.next' | t }}" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </button>
                                </li>

                            </ul>

                        {% endif %}

						</div>
					</div>
				</div>

			{% endif %}

			{% if section.blocks.size == 0 %}
				<div class="placeholder-noblocks">
				  {{ 'general.onboarding.no_content' | t }}
				</div>
			{% endif %}

		</div>
	</div>
</section>

{% if section.blocks.size > 0 %}
    <div class="slider-pagination-container slider--{{ section.id }}"></div>
{% endif %}

<style>
	.slider-section--{{ section.id }} .slider-caption h2 {
		font-size: {{ section.settings.caption-heading-size }}px;
	}

	{% if section.settings.caption-heading-size > 26 %}
	@media screen and (max-width: 767px) {
		.slider-section--{{ section.id }} .slider-caption h2 {
				font-size: {{ section.settings.caption-heading-size | times: 0.8 }}px;
		}
	}
	{% endif %}

	@media screen and (max-width: 767px) {
		.slider-section--{{ section.id }} .homepage-featured-content-box h2.homepage-sections--title,
		.slider-section--{{ section.id }} .homepage-featured-content-box .featured-row__subtext{
			color: {{ settings.font-color }} !important;
		}
	}

	{% unless section.settings.show-slide-arrows %}
   .slider-section--{{ section.id }} .flex-direction-nav {
      display:none;
    }
	{% endunless %}

	.flex-direction-nav.slider--{{ section.id }} svg{
		stroke: {{ section.settings.slider-navigation--color }};
	}

    .homepage-section--slideshow-wrapper {
        position: relative;
    }

    .homepage-section--slideshow-wrapper .flexslider {
        margin-bottom: 0;
    }

	.homepage-section--slideshow-wrapper .slider-pagination-container {
        display: flex;
        position: absolute;
        transform: translateX(-50%);
        bottom: 20px;
        left: 50%;
        z-index: 2;
        color: {{ section.settings.slider-navigation--color }};
    }

    .homepage-section--slideshow-wrapper .slider-pagination-container .flex-control-nav {
        position: static;
        height: auto;
        display: flex;
        align-items: center;
    }

	.slider-pagination-container.slider--{{ section.id }} .flex-control-nav li {
        padding: 5px;
    }

    .homepage-section--slideshow-wrapper .flex-pauseplay {
        margin: 0 6px;
    }

    .homepage-section--slideshow-wrapper .flex-pauseplay,
    .homepage-section--slideshow-wrapper .flex-pause,
    .homepage-section--slideshow-wrapper .flex-play {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-control-nav + .flex-pauseplay {
        margin-left: 10px;
    }

    .homepage-section--slideshow-wrapper .flex-pauseplay a {
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        transition: 100ms all ease;
        cursor: pointer;
    }

    .homepage-section--slideshow-wrapper .flex-pauseplay a.flex-play {
        border-style: solid;
        border-width: 8px 0 8px 17px;
    }

    .homepage-section--slideshow-wrapper .flex-pauseplay a.flex-pause {
        border-style: double;
        border-width: 0px 0 0px 17px;
    }

	.slider-pagination-container.slider--{{ section.id }} .flex-pauseplay a {
        border-color: transparent transparent transparent {{ section.settings.slider-navigation--color }};
    }
	.slider-pagination-container.slider--{{ section.id }} .flex-pauseplay a:hover {
        border-color: transparent transparent transparent {{ section.settings.slider-navigation--color | color_modify: 'alpha', 0.5 }};
    }
	.slider-pagination-container.slider--{{ section.id }} .flex-control-nav li a {
	    background: {{ section.settings.slider-navigation--color | color_modify: 'alpha', 0.5 }}
	}
	.slider-pagination-container.slider--{{ section.id }} .flex-control-nav li a.flex-active {
		background: {{ section.settings.slider-navigation--color }}
	}

	@media only screen and (max-width: 767px) {
		.flex-direction-nav.slider--{{ section.id }} {
			display: none;
		}
	}
</style>

{% schema %}
{
    "name": {
        "en": "Slideshow",
        "de": "Diashow",
        "es": "Presentación de diapositivas",
        "fr": "Diaporama",
        "pt-PT": "Apresentação de diapositivos"
    },
    "class": "homepage-section--slideshow-wrapper",
    "max_blocks": 12,
    "settings": [
        {
            "type": "radio",
            "id": "slider-animation",
            "label": {
                "en": "Transition effect",
                "de": "Übergangseffekt",
                "es": "Efectos de transición",
                "fr": "Effet de transition",
                "pt-PT": "Efeito de transição"
            },
            "options": [
                {
                    "value": "slide",
                    "label": {
                        "en": "Slide",
                        "de": "Dia",
                        "es": "Deslizarse",
                        "fr": "Diapositive",
                        "pt-PT": "Diapositivo"
                    }
                },
                {
                    "value": "fade",
                    "label": {
                        "en": "Fade",
                        "de": "Ausblenden",
                        "es": "Desvanecerse",
                        "fr": "Fondu",
                        "pt-PT": "Desvanecer"
                    }
                }
            ],
            "default": "slide"
        },
        {
            "type": "radio",
            "id": "slider-width",
            "label": {
                "en": "Size",
                "de": "Größe",
                "es": "Talla",
                "fr": "Taille",
                "pt-PT": "Tamanho"
            },
            "options": [
                {
                    "value": "fixed",
                    "label": {
                        "en": "Fixed",
                        "de": "Festgestellt",
                        "es": "Fijo",
                        "fr": "Fixe",
                        "pt-PT": "Fixo"
                    }
                },
                {
                    "value": "full-width",
                    "label": {
                        "en": "Full width",
                        "de": "Volle Breite",
                        "es": "Ancho completo",
                        "fr": "Pleine largeur",
                        "pt-PT": "Largura total"
                    }
                }
            ],
            "default": "full-width"
        },
				{
            "type": "checkbox",
            "id": "show-slide-full-screen",
            "label": {
                "en": "Show full-screen slideshow images on desktop",
                "de": "Diabilder im Vollbildmodus anzeigen",
                "es": "Mostrar imágenes deslizantes de pantalla completa",
                "fr": "Affichez les images coulissantes en plein écran",
                "pt-PT": "Mostrar imagens de slideshow em ecrã completo"
            },
            "info": {
                "en": "If enabled, images will be resized to fit the entire screen",
                "de": "Falls aktiviert, wird die Größe von Bildern an den gesamten Bildschirm angepasst",
                "es": "Si está habilitado, las imágenes cambiarán de tamaño para adaptarse a toda la pantalla",
                "fr": "Si cette fonctionnalité est activée, les images seront redimensionnées pour s’adapter à la taille de l’écran.",
                "pt-PT": "Caso ativado, as imagens serão redimensionadas para ajustar ao ecrã inteiro"
            },
            "default": true
        },
        {
            "type": "range",
            "id": "slider-slide-time",
            "min": 3,
            "max": 8,
            "step": 1,
            "unit": {
                "en": "sec",
                "de": "Sek.",
                "es": "seg",
                "fr": "sec.",
                "pt-PT": "seg"
            },
            "label": {
                "en": "Rotation interval",
                "de": "Rotationsintervall",
                "es": "Intervalo de rotación",
                "fr": "Intervalle de rotation",
                "pt-PT": "Intervalo de rotação"
            },
            "default": 8
        },
        {
            "type": "range",
            "id": "caption-heading-size",
            "label": {
                "en": "Heading size",
                "de": "Überschift-Größe",
                "es": "Tamaño del encabezado",
                "fr": "Taille de la rubrique",
                "pt-PT": "Tamanho do título"
            },
            "min": 26,
            "max": 72,
            "step": 2,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "default": 50
        },
        {
            "type": "checkbox",
            "id": "show-slide-dots",
            "label": {
                "en": "Show slide dots",
                "de": "Diapunkte anzeigen",
                "es": "Mostrar puntos para deslizamiento",
                "fr": "Montrer les points des diapositives",
                "pt-PT": "Mostrar pontos do diapositivo"
            },
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show-slide-arrows",
            "label": {
                "en": "Show slide arrows",
                "de": "Diapfeile anzeigen",
                "es": "Mostrar flechas para deslizamiento",
                "fr": "Afficher les flèches de diapositives",
                "pt-PT": "Mostrar setas do diapositivo"
            },
            "default": true
        },
        {
                "type": "checkbox",
                "id": "show-slide-controls",
                "label": {
                        "en": "Show play/pause button",
                        "de": "Wiedergabe-/Pause-Taste anzeigen",
                        "es": "Mostrar botón de reproducción/pausa",
                        "fr": "Afficher le bouton lecture/pause",
                        "pt-PT": "Mostrar botão de reprodução/pausa"
                },
                "default": true
        },
        {
            "type": "color",
            "id": "slider-navigation--color",
            "label": {
                "en": "Navigation color",
                "de": "Schieberegler-Navigation Farbe",
                "es": "Color del control deslizante de navegación",
                "fr": "Couleur de la barre de navigation",
                "pt-PT": "Cor de navegação do cursor"
            },
            "default": "#ffffff"
        },
        {
            "type": "checkbox",
            "id": "overlay",
            "label": {
                "en": "Enable overlay",
                "de": "Overlay aktivieren",
                "es": "Habilitar superposición",
                "fr": "Activez la superposition",
                "pt-PT": "Ativar sobreposição"
            },
            "info": {
                "en": "Add a gradient overlay to increase text readability",
                "de": "Gradienten-Overlay hinzufügen, um die Lesbarkeit des Textes zu verbessern",
                "es": "Añadir una superposición de degradado para aumentar la legibilidad del texto",
                "fr": "Ajoutez un calque dégradé pour améliorer la lisibilité du texte",
                "pt-PT": "Adicionar um sobreposição de gradiente para melhorar a legibilidade do texto"
            },
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": {
                "en": "Slide",
                "de": "Dia",
                "es": "Deslizarse",
                "fr": "Diapositive",
                "pt-PT": "Diapositivo"
            },
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                        "en": "Image",
                        "de": "Bild",
                        "es": "Imagen",
                        "fr": "Image",
                        "pt-PT": "Imagem"
                    },
                    "info": {
                        "en": "2000 x 900px recommended",
                        "de": "2000 x 900 px empfohlen",
                        "es": "Recomendado 2000 x 900 px",
                        "fr": "2000 x 900 px recommandé",
                        "pt-PT": "2000 x 900px, recomendado"
                    }
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": {
                        "en": "Mobile Image (Optional)",
                        "de": "Mobiles Bild (optional)",
                        "es": "Imagen móvil (opcional)",
                        "fr": "Image mobile (en option)",
                        "pt-PT": "Imagem Móvel (Opcional)"
                    },
                    "info": {
                        "en": "1400 x 1400px recommended",
                        "de": "1400 x 1400 px empfohlen",
                        "es": "Recomendado 1400 x 1400 px",
                        "fr": "1400 x 1400 px recommandé",
                        "pt-PT": "1400 x 1400px, recomendado"
                    }
                },
				{
						"type": "text",
						"id": "subheading",
						"label": {
							"en": "Subheading",
							"de": "Unterüberschrift",
							"es": "Subencabezado",
							"fr": "Sous-rubrique",
							"pt-PT": "Subtítulo"
						}
				},
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    },
                    "default": {
                        "en": "Share your story",
                        "de": "Teilen Sie Ihre Geschichte",
                        "es": "Comparte tu historia",
                        "fr": "Partagez votre histoire",
                        "pt-PT": "Partilhe a sua história"
                    }
                },
                {
                    "type": "textarea",
                    "id": "text",
					"label": {
		                "en": "Text",
		                "de": "Text",
		                "es": "Texto",
		                "fr": "Texte",
		                "pt-PT": "Texto"
		            },
                    "default": {
                        "en": "Here's your chance to make a great first impression",
                        "de": "Hier ist Ihre Chance, einen großartigen ersten Eindruck zu hinterlassen",
                        "es": "Esta es tu oportunidad de causar una buena primera impresión",
                        "fr": "C'est le moment ou jamais de faire une excellente première impression",
                        "pt-PT": "Aqui está a sua oportunidade de causar uma excelente primeira impressão"
                    }
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": {
                        "en": "Button text",
                        "de": "Buttontext",
                        "es": "Texto del botón",
                        "fr": "Texte des boutons",
                        "pt-PT": "Texto do botão"
                    }
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": {
                        "en": "Slide link",
                        "de": "Dialink",
                        "es": "Enlace de la diapositiva",
                        "fr": "Lien coulissant",
                        "pt-PT": "Ligação do diapositivo"
                    }
                },
                {
                    "type": "color",
                    "id": "caption-background",
                    "label": {
                        "en": "Caption background",
                        "de": "Überschrift-Hintergrund",
                        "es": "Subtítulos de fondo",
                        "fr": "Fond de légende",
                        "pt-PT": "Fundo da legenda"
                    },
                    "default": "rgba(0,0,0,0)"
                },
                {
                    "type": "color",
                    "id": "caption-text",
                    "label": {
                        "en": "Caption text",
                        "de": "Überschrifttext",
                        "es": "Texto del subtítulo",
                        "fr": "Texte de légende",
                        "pt-PT": "Texto da legenda"
                    },
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "button-text",
                    "label": {
                        "en": "Button text",
                        "de": "Buttontext",
                        "es": "Texto del botón",
                        "fr": "Texte des boutons",
                        "pt-PT": "Texto do botão"
                    },
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "button-background",
                    "label": {
                        "en": "Button background",
                        "de": "Button-Hintergrund",
                        "es": "Fondo del botón",
                        "fr": "Bouton fond d'écran",
                        "pt-PT": "Fundo do botão"
                    },
                    "default": "#000000"
                },
                {
                    "type": "header",
                    "content": "Button hover"
                },
                {
                    "type": "color",
                    "id": "button-text-hover",
                    "label": "Button text",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "button-background-hover",
                    "label": "Button background",
                    "default": "#FFFFFF"
                },
                {
                    "type": "select",
                    "id": "horizontal-alignment",
                    "label": {
						"en": "Content position",
		                "de": "Inhaltsposition",
		                "es": "Posición de contenido",
		                "fr": "Position du contenu",
		                "pt-PT": "Posição do conteúdo"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                                "en": "Left",
                                "de": "Links",
                                "es": "Izquierda",
                                "fr": "Gauche",
                                "pt-PT": "Esquerda"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                                "en": "Center",
                                "de": "Mitte",
                                "es": "Centro",
                                "fr": "Centre",
                                "pt-PT": "Centro"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                                "en": "Right",
                                "de": "Rechts",
                                "es": "Derecha",
                                "fr": "Droite",
                                "pt-PT": "Direita"
                            }
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "select",
                    "id": "vertical-alignment",
                    "label": {
                        "en": "Caption vertical alignment",
                        "de": "Überschrift vertikale Ausrichtung",
                        "es": "Alineación vertical de los subtítulos",
                        "fr": "Alignement vertical de la légende",
                        "pt-PT": "Alinhamento vertical da legenda"
                    },
                    "options": [
                        {
                            "value": "top",
                            "label": {
                                "en": "Top",
                                "de": "Oben",
                                "es": "Arriba",
                                "fr": "En haut",
                                "pt-PT": "Parte superior"
                            }
                        },
                        {
                            "value": "middle",
                            "label": {
                                "en": "Middle",
                                "de": "Mitte",
                                "es": "Medio",
                                "fr": "Au milieu",
                                "pt-PT": "Centro"
                            }
                        },
                        {
                            "value": "bottom",
                            "label": {
                                "en": "Bottom",
                                "de": "Unten",
                                "es": "Abajo",
                                "fr": "En bas",
                                "pt-PT": "Parte inferior"
                            }
                        }
                    ],
                    "default": "middle"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Slideshow",
                "de": "Diashow",
                "es": "Presentación de diapositivas",
                "fr": "Diaporama",
                "pt-PT": "Apresentação de diapositivos"
            },
            "category": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "settings": {
                "slider-slide-time": 5
            },
            "blocks": [
                {
                    "type": "slide"
                },
                {
                    "type": "slide"
                }
            ]
        }
    ],
    "templates": [
        "index",
        "collection",
        "list-collections",
        "blog",
        "article",
        "page",
        "password",
        "404",
        "cart",
        "search",
        "product"
    ]
}
{% endschema %}
